APP_NAME="NasiyaPro"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Tashkent
APP_URL=http://localhost

APP_LOCALE=uz
APP_FALLBACK_LOCALE=uz
APP_FAKER_LOCALE=uz_UZ

LOG_CHANNEL=daily
LOG_LEVEL=error
LOG_DEPRECATIONS_CHANNEL=null

# ── MySQL (Docker ─────────────────────────────────────────────────
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=nasiya_db
DB_USERNAME=nasiya_user
DB_PASSWORD=NasiyaPassword2024!
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

# ── Redis ─────────────────────────────────────────────────────────
CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# ── Sessiya ───────────────────────────────────────────────────────
SESSION_LIFETIME=480
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# ── Mail (ixtiyoriy) ─────────────────────────────────────────────
MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@nasiyapro.uz"
MAIL_FROM_NAME="${APP_NAME}"

# ── DomPDF ───────────────────────────────────────────────────────
DOMPDF_ENABLE_AUTOLOAD=true
